@model Ders
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col">Ders Adı</div>
    <div class="col">@Model.Ad</div>
</div>
<div class="row">
    <div class="col">Seviye</div>
    <div class="col">@Model.Seviye</div>
</div>
<div class="row">
    <div class="col">Öğretmen Adı</div>
    <div class="col">@Model.Ogretmen</div>
</div>



